---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Rubik:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-lightGray">
    <div class="flex items-center min-h-screen justify-center">
      <div
        class="container flex flex-col justify-center items-center bg-white rounded-lg mx-auto space-y-4 p-10 m-2 w-72 shadow-lg"
      >
        <div>
          <img
            src="images/image-qr-code.png"
            alt=""
            class="rounded-lg mx-auto"
          />
        </div>

        <div class="text-center">
          <h1 class="text-darkBlue font-bold text-center">
            Improve your front-end skills by building projects
          </h1>

          <p class="text-grayishBlue text-center text-xs mt-3">
            Scan the QR code to visit the Frontend Mentor website and take your
            coding skills to the next level
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
